# Build directories
target/
build/

# Maven wrapper
.mvn/
!mvn/wrapper/maven-wrapper.jar

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws
!/.idea/codeStyles/
!/.idea/runConfigurations/

.classpath
.project
.settings/
.sts4-cache

### Environment files ###
.env
# Allow .env.template for sharing required variables
!.env.template

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# System files
*.DS_Store
Thumbs.db
*.log

# Documentation
HELP.md
